.KdL3Vb._1Zogjd ._1oHPGm {
    // width: calc(100% - 230px);
}.KdL3Vb._1Zogjd ._1oHPGm {
    // width: calc(100% - 230px);
}._3ZYowz, ._3ZYowz .mYI3GX {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}._3ZYowz {
    position: relative;
}._3ZYowz .mYI3GX {
    overflow-x: hidden;
    padding-bottom: 64px;
    margin-bottom: -64px;
}._3ZYowz ._2hKRMr {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}._3ZYowz ._2hKRMr ._37K3-p {
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}._3ZYowz ._2hKRMr ._3YgSsQ {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}._6WQwDJ {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center;
}a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}._3exPp9 {
    opacity: 1;
}._396cs4 {
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    // opacity: 0;
    max-width: 100%;
    max-height: 100%;
}._1YokD2._2GoDe3 {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}._1YokD2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}._1AtVbE {
    display: block;
}.KdL3Vb._1Zogjd {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    overflow: hidden;
}.KdL3Vb {
    border-top: 1px solid #eaeaea;
    height: 100%;
}._3E8aIl {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}