<div class="header">
    <div class="row">
        <div class="logo">
            <img width="105"
            src="assets/Amazon_logo.png">
        </div>
        <div class="logonext">
            <span  >Hello</span>
            <strong><img width="10" src="assets/location.png">Select your address</strong>
        </div>
        <div class="inputsearch">
            <input [(ngModel)]="searchValue" class="inputbox" placeholder="          search Product" type="text">
            <button (click)="submitdb2()" class="inputbtn" ><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="logonext">
            <span  >Sign in</span>
            <strong>Account & List</strong>
        </div>
    </div>
</div>