<app-header *ngIf="this.object.getUtilInstance().getStore('loginAuth')" ></app-header>
<app-banner></app-banner>
<!-- <app-offers></app-offers> -->
<app-footer></app-footer>
<router-outlet></router-outlet>
<!-- <div *ngIf="!this.object.getUtilInstance().getStore('loginAuth')" class="anime unselectable">
</div> -->
<ng-container *ngIf="!this.object.getUtilInstance().getStore('loginAuth')">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</ng-container>
<div  @fadeIn @fadeOut *ngIf="!this.object.getUtilInstance().getStore('loginAuth')" class="logiboc">
    <h3 class="head1">TaskTask</h3>
    <h4 class="head4">ENTER PIN</h4>
    <div class="maindiv">
        <div>
            <p class="pp">ENTER PIN <mat-icon style="color: #2e0980;margin-left: 29px;font-size: 13px;">remove_red_eye</mat-icon> SHOW</p>
        </div>
        <div>
            <h2 class="upi">
                {{upiPin.length>0 ? '⬤':'―'}}
                {{upiPin.length>1 ? '⬤':'―'}}
                {{upiPin.length>2 ? '⬤':'―'}}
                {{upiPin.length>3 ? '⬤':'―'}}
            </h2>
        </div>
    </div>
    <div class="numbers">
        <div class="digit " (click)="submit(num)" [ngClass]="num=='✔'?'tick':'ripple'" *ngFor="let num of numberList;let i=index">{{num}}</div>
    </div>
</div>
