<div class="amazonoffer">
    <div class="boxs">
        <img style="height: 100%;
        width: 100%;"
        src="assets/a1.jpg">
    </div>
    <div class="boxs">
        <img style="height: 100%;
        width: 100%;"
        src="assets/a2.jpg">
    </div>
    <div class="boxs">
        <img style="height: 100%;
        width: 100%;"
        src="assets/a3.jpg">
    </div>
    <div class="boxs">
        <img style="height: 100%;
        width: 100%;"
        src="assets/a4.jpg">
    </div>
</div>