.amazonoffer{
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
}
.boxs{
    height: 100%;
    width: 20%;
    float: left;
    margin: 34px;
    box-shadow: 1px 2px 14px 4px grey;
}

