._1rH5Jn {
    position: fixed;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    will-change: transform;
    width: 100%;
    height: 56px;
    background-color: #fff;
    color: #f0f0f0;
    z-index: 10;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    top:0px;
    box-shadow : -3px 1px 8px 0px grey
}
._1rH5Jn ._1TmfNK {
    height: 100%;
    min-width: 124px;
}
._1rH5Jn ._2Xfa2_, ._1rH5Jn ._3_C9Hx {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

._1rH5Jn ._2Xfa2_ {
    max-width: 1248px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

._1rH5Jn ._1TmfNK {
    height: 100%;
    min-width: 124px;
}
._1rH5Jn ._3_C9Hx {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-width: 137px;
}
._1rH5Jn ._1cmsER, ._1rH5Jn .go_DOp {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1rH5Jn .go_DOp._2errNR, .lAXZRO {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._1rH5Jn .go_DOp {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._3qX0zy {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._21ljIi {
    font-size: 11px;
    font-style: italic;
    margin-top: -1px;
}
._21ljIi ._2FVHGh {
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
}
._3qX0zy {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._1rH5Jn ._1cmsER, ._1rH5Jn .go_DOp {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1rH5Jn ._1cmsER {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    min-width: 304px;
    width: calc(100% - 540px);
    margin: 0 auto 0 12px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

._2M8cLY {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}
._2M8cLY ._2oO9oE {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    border-radius: 2px;
    background-color: #fff;
}._2M8cLY ._2oO9oE ._3OO5Xc {
    position: relative;
    display: inline-block;
    width: 100%;
}._2M8cLY ._2oO9oE ._3704LK {
    padding: 0 16px;
    /* border-radius: 2px 0 0 2px; */
    border: 1px solid gray;
    border-radius: 6px;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%;
}._28p97w {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}._3BvnxG {
    cursor: pointer;
}._1psGvi {
    display: inline-block;
    position: relative;
}._1_3w1N {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    border-radius: 5px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}._3-PJz- {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
}
._3-PJz- {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
}._1psGvi {
    display: inline-block;
    position: relative;
}.YUhWwv {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}._3SkBxJ {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
}._3SkBxJ .V3C5bO {
    width: 16px;
    height: 16px;
    margin: 0 8px;
}