
<!-- ---------------------------------------------------------------- -->
    <!--                                                                  -->
    <!--                          Copy div                                -->
    <!--                                                                  -->
    <!------------------------------------------------------------------- -->

          
<div class="container"  *ngIf="this.copyTaskArray.length" [cdkDragFreeDragPosition]="dragPosition"  cdkDrag >
    <div class="container-inner">
      <div class="sticky-container">
        <div class="sticky-outer">
          <div class="sticky">
            <svg width="0" height="0">
              <defs>
                <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
                  <path
                        d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                        stroke-linejoin="round"
                        stroke-linecap="square"
                        />  
                </clipPath>
              </defs>
            </svg>
            <div  class="sticky-content">
                <ol style="margin: 0px;padding: 7px;">
                    <li *ngFor="let list of this.copyTaskArray;let i=index">{{list.taskDiscription}}</li>
                </ol>  
                <div style="position: absolute;bottom: 1px;right: 1px;">
                    <mat-icon class="copycicn" style="margin-left: 5px;cursor: pointer;" (click)="cancleCopy()">highlight_off</mat-icon>
                    <mat-icon class="copycicn" style="margin-left: 5px;cursor: pointer" (click)="copyText()">file_copy</mat-icon>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="main" cdkDropListGroup>
    <!-- ---------------------------------------------------------------- -->
    <!--                                                                  -->
    <!--                               IN PROGRESS                        -->
    <!--                                                                  -->
    <!------------------------------------------------------------------- -->
    
    <div class="section1">
        <div style="display: flex;">
            <h3 style="width: 146px" ><mat-icon matBadge="{{firestorecollectionService.listlength}}" matBadgeOverlap="false" >schedule</mat-icon> In Progress</h3>
            <button style="height: 38px;margin-top: 15px;background: orange;" mat-raised-button color="primary" (click)="reAssignInProgressTask()"><mat-icon> wb_sunny</mat-icon> good morning</button>
        </div>
        <mat-list role="list">
            <mat-list-item  role="listitem">
                <div class="distext">
                    <div  style="height: 50px;" class="dnametxt">
                          <mat-form-field appearance="fill">
                            <mat-label>Choose Status</mat-label>
                            <select matNativeControl (change)="filter($event.target.value)">
                              <option  *ngFor="let sts of status" >{{sts}}</option>
                            </select>
                          </mat-form-field>
                    </div>
                    <div>
                        <button  (click)="addnewTask()" mat-icon-button aria-label="Example icon-button with a menu">
                            <mat-icon>library_add</mat-icon>
                          </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <div id="listscrol" class="listscrl">
            <mat-list  cdkDropList [cdkDropListData]="'inProgress'" (cdkDropListDropped)="drop($event)" role="list">
                <mat-list-item *ngIf="isdragStart" class="dropsection" role="listitem">
                    <h5 class="vert-move" style="text-align: center;"><mat-icon>cloud_upload</mat-icon></h5>
                </mat-list-item>
                <ng-container *ngFor="let listdata of this.firestorecollectionService.taskList;let i=index"  >
                <h5 *ngIf="listdata?.isTaskExist">{{listdata?.date}}<mat-icon (click)="copytodayTask(listdata)" class="copttody" >file_copy</mat-icon></h5>
                <ng-container *ngFor="let list of listdata?.task | searchPipe : { taskDiscription: searchModel,branch: searchModel,designType: searchModel};let ind=index" >
                        <div >
                            <ng-container *ngIf="list.name==this.object.userInfo.name">
                                <mat-list-item cdkDrag (cdkDragStarted)="dragMoved(list,listdata)" *ngIf="list.status==selectedStatus || selectedStatus=='ALL'" [ngClass]="isBranchSearch ? (searchModel==list.branch ? list?.status+' d-block':'d-none') : list?.status" role="listitem">
                                    <div class="distext">
                                        <div (click)="viewTask(list)" class="dnametxt">
                                            <span class="taskdis">
                                                <mat-icon class="fnsiz">check_circle</mat-icon> {{list.taskDiscription}}
                                            </span> <br>
                                            <span  class="datetip">
                                                <mat-icon class="fnsiz">timeline</mat-icon>  {{list.branch}}
                                            </span>
                                        </div>
                                        <div>
                                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <ng-container *ngFor="let menu of menuList">
                                                    <button *ngIf="menu?.show.includes('IP')" (click)="menuClick(list,listdata,menu?.param)" [ngStyle]="{'background-color': menu?.color ? '#'+menu?.color : menu?.color }" mat-menu-item>
                                                        <mat-icon>{{menu?.icon}}</mat-icon>
                                                        <span>{{menu?.name}}</span>
                                                    </button>
                                                </ng-container>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <mat-progress-bar *ngIf="list?.status=='inProgress'" [color]="list?.status=='inProgress' ? (list.progress < 50 ? 'red' : list.progress < 80 ? 'yellow':'green' ) : '100'" mode="determinate" value="{{list?.status=='inProgress' ? list.progress : '100'}}"></mat-progress-bar>
                                </mat-list-item>
                            </ng-container>
                        </div>
                </ng-container>
            </ng-container>
            <mat-list-item *ngIf="!this.firestorecollectionService.taskList.length"  role="listitem">
                <div class="distext">
                    <div class="dnametxt">
                        <span class="taskdis">
                            <mat-icon class="fnsiz">check_circle</mat-icon> No Task Found
                        </span> <br>
                        <span class="datet">
                            <!-- <mat-icon class="fnsiz">timeline</mat-icon> -->
                        </span>
                    </div>
                </div>
            </mat-list-item>
            </mat-list>
            <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>
        
    </div>

    <!-- ---------------------------------------------------------------- -->
    <!--                                                                  -->
    <!--                               QA                                 -->
    <!--                                                                  -->
    <!------------------------------------------------------------------- -->

    <div class="section1">
        <h3 ><mat-icon matBadge="{{this.firestorecollectionService.qaLength}}" matBadgeOverlap="false" >rowing</mat-icon>  QA</h3>
        <mat-list role="list">
            <mat-list-item  role="listitem">
                <div class="distext">
                    <div style="height: 50px;" class="dnametxt">
                        <mat-form-field class="example-full-width">
                        <mat-label>Search Task</mat-label>
                        <input [(ngModel)]="searchModel" matInput placeholder="Search" value="">
                        <button *ngIf="searchModel" matSuffix mat-icon-button aria-label="Clear" (click)="searchModel=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <div id="listscrol2" class="listscrl">
            <mat-list  cdkDropList [cdkDropListData]="'QA'" (cdkDropListDropped)="drop($event)" role="list">
                <mat-list-item  *ngIf="isdragStart" class="dropsection QA" role="listitem">
                    <h5 class="vert-move" style="text-align: center;"><mat-icon>cloud_upload</mat-icon></h5>
                </mat-list-item>
                
                <ng-container *ngFor="let listdata of this.firestorecollectionService.QA"  >
                    <h5 *ngIf="listdata?.isTaskExist">{{listdata?.date}}</h5>
                    <ng-container *ngFor="let list of listdata?.task | searchPipe : { taskDiscription: searchModel,branch: searchModel,designType: searchModel};let ind=index">
                        <div>
                            <ng-container *ngIf="list.name==this.object.userInfo.name">
                                <mat-list-item cdkDrag (cdkDragStarted)="dragMoved(list,listdata)" [ngClass]="isBranchSearch ? (searchModel==list.branch ? list?.status+' d-block':'d-none') : list?.status" role="listitem">
                                    <div class="distext">
                                        <div  (click)="viewTask(list)" class="dnametxt">
                                            <span class="taskdis">
                                                <mat-icon class="fnsiz">check_circle</mat-icon> {{list.taskDiscription}}
                                            </span> <br>
                                            <span  class="datet">
                                                <mat-icon class="fnsiz">timeline</mat-icon>  {{list.branch}}
                                            </span>
                                        </div>
                                        <div>
                                            
                                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                <mat-icon>more_vert</mat-icon>
                                              </button>
                                            <mat-menu #menu="matMenu">
                                                <ng-container *ngFor="let menu of menuList">
                                                    <button *ngIf="menu?.show.includes('QA')" (click)="menuClick(list,listdata,menu?.param)" [ngStyle]="{'background-color': menu?.color ? '#'+menu?.color : menu?.color }" mat-menu-item>
                                                        <mat-icon>{{menu?.icon}}</mat-icon>
                                                        <span>{{menu?.name}}</span>
                                                    </button>
                                                </ng-container>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </mat-list-item>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </mat-list>
            <a id="back-to-top2" href="#" class="btn btn-light btn-lg back-to-top" role="button">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>
    </div>
    <!-- ---------------------------------------------------------------- -->
    <!--                                                                  -->
    <!--                               WILLGOPROD                         -->
    <!--                                                                  -->
    <!------------------------------------------------------------------- -->

    <div class="section1">
        <h3><mat-icon matBadge="{{this.firestorecollectionService.willprodLength}}" matBadgeOverlap="false" >done_all</mat-icon>will Go on prod</h3>
        <mat-list role="list">
            <mat-list-item  role="listitem">
                <div class="distext">
                    <div style="height: 50px;display: grid;" class="dnametxt">
                          <!-- <mat-form-field appearance="fill"> -->
                            <mat-label>Choose Branch</mat-label>
                            <select class="selectbox" (change)="checkBranchStatus($event.target.value)">
                              <option [ngClass]="list?.status=='inProgress'?'redb':'greenb'" selected="{{list=='inProgress' ? 'selected':''}}" *ngFor="let list of this.object.branchList" >{{list?.branch}}</option>
                            </select>
                          <!-- </mat-form-field> -->
                    </div>
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon (click)="checkBranchStatus('')" >settings</mat-icon>
                          </button>
                        <mat-menu #menu="matMenu">
                            <ng-container *ngFor="let list of this.object.branchList;let i=index">
                                <mat-card *ngIf="i!=0" >
                                    <mat-card-content style="display: flex;">
                                        <mat-icon style="color: red;cursor: pointer;" (click)="handleRemoveBranch(i)"  >delete</mat-icon>
                                        <span [ngClass]="list?.status=='inProgress'?'redb':'greenb'" style="padding: 5px;">{{list?.branch}}</span>
                                        <mat-icon style="font-size: 18px;margin-left: 14px;cursor: pointer;" (click)="copyBranch(list?.branch)">file_copy</mat-icon> 
                                    </mat-card-content>
                                </mat-card>
                                <!-- <button *ngIf="i!=0" (click)="handleRemoveBranch(i)"  style="background-color: rgb(239, 181, 181);" mat-menu-item>
                                  <mat-icon>delete</mat-icon>
                                  <span>{{branch}}</span>
                                </button> -->
                            </ng-container>
                        </mat-menu>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <div id="listscrol3" class="listscrl">
            <mat-list cdkDropList [cdkDropListData]="'WILLGOPROD'" (cdkDropListDropped)="drop($event)" role="list">
                <mat-list-item *ngIf="isdragStart" class="dropsection WILLGOPROD" role="listitem">
                    <h5 class="vert-move" style="text-align: center;"><mat-icon>cloud_upload</mat-icon></h5>
                </mat-list-item>
                <ng-container *ngFor="let listdata of this.firestorecollectionService.willgoProd"  >
                    <h5 *ngIf="listdata?.isTaskExist">{{listdata?.date}}</h5>
                    <ng-container *ngFor="let list of listdata?.task | searchPipe : { taskDiscription: searchModel,branch: searchModel,designType: searchModel};let ind=index">
                        <ng-container *ngIf="list.name==this.object.userInfo.name">
                            <mat-list-item  cdkDrag (cdkDragStarted)="dragMoved(list,listdata)"  [ngClass]="isBranchSearch ? (searchModel==list.branch ? list?.status+' d-block':'d-none') : list?.status" role="listitem">
                                <div class="distext">
                                    <div  (click)="viewTask(list)" class="dnametxt">
                                        <span class="taskdis">
                                            <mat-icon class="fnsiz">check_circle</mat-icon> {{list.taskDiscription}}
                                        </span> <br>
                                        <span  class="datet">
                                            <mat-icon class="fnsiz">timeline</mat-icon> {{list.branch}}
                                        </span>
                                    </div>
                                    <div>
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                        <mat-menu #menu="matMenu">
                                            <ng-container *ngFor="let menu of menuList">
                                                <button *ngIf="menu?.show.includes('WILLGOPROD')" (click)="menuClick(list,listdata,menu?.param)" [ngStyle]="{'background-color': menu?.color ? '#'+menu?.color : menu?.color }" mat-menu-item>
                                                    <mat-icon>{{menu?.icon}}</mat-icon>
                                                    <span>{{menu?.name}}</span>
                                                </button>
                                            </ng-container>
                                          </mat-menu>
                                    </div>
                                </div>
                            </mat-list-item>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </mat-list>
            <a id="back-to-top3" href="#" class="btn btn-light btn-lg back-to-top" role="button">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>
    </div>

    <!-- ---------------------------------------------------------------- -->
    <!--                                                                  -->
    <!--                               Prod                               -->
    <!--                                                                  -->
    <!------------------------------------------------------------------- -->

    <div class="section1">
        <h3><mat-icon matBadge="{{this.firestorecollectionService.prodLength}}" matBadgeOverlap="false" >done_all</mat-icon>  Prod</h3>
        <mat-list role="list">
            <mat-list-item  role="listitem">
                <div class="distext">
                    <div style="height: 50px;" class="dnametxt">
                        <!-- <mat-form-field appearance="fill"> -->
                          <mat-label>Choose Design</mat-label>
                          <select class="selectbox" (change)="searchModel=$event.target.value">
                            <option [ngClass]="list?.status=='inProgress'?'redb':'greenb'" *ngFor="let list of this.object.design" >{{list?.alias}}</option>
                          </select>
                        <!-- </mat-form-field> -->
                  </div>
                </div>
            </mat-list-item>
        </mat-list>
        <div id="listscrol4" class="listscrl">
            <mat-list cdkDropList [cdkDropListData]="'prod'" (cdkDropListDropped)="drop($event)" role="list">
                <mat-list-item *ngIf="isdragStart" class="dropsection prod" role="listitem">
                    <h5 class="vert-move" style="text-align: center;"><mat-icon>cloud_upload</mat-icon></h5>
                </mat-list-item>
                <ng-container *ngFor="let listdata of this.firestorecollectionService.prod"  >
                    <h5 *ngIf="listdata?.isTaskExist">{{listdata?.date}}</h5>
                    <ng-container *ngFor="let list of listdata?.task | searchPipe : { taskDiscription: searchModel,branch: searchModel,designType: searchModel};let ind=index">
                        <ng-container *ngIf="list.name==this.object.userInfo.name">

                            <mat-list-item  cdkDrag (cdkDragStarted)="dragMoved(list,listdata)"  [ngClass]="isBranchSearch ? (searchModel==list.branch ? list?.status+' d-block':'d-none') : list?.status" role="listitem">
                                <div class="distext">
                                    <div  (click)="viewTask(list)" class="dnametxt">
                                        <span class="taskdis">
                                            <mat-icon class="fnsiz">check_circle</mat-icon> {{list.taskDiscription}}
                                        </span> <br>
                                        <span  class="datet">
                                            <mat-icon class="fnsiz">timeline</mat-icon> {{list.branch}}
                                        </span>
                                    </div>
                                    <div>
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                        <mat-menu #menu="matMenu">
                                            <ng-container *ngFor="let menu of menuList">
                                                <button *ngIf="menu?.show.includes('WILLGOPROD')" (click)="menuClick(list,listdata,menu?.param)" [ngStyle]="{'background-color': menu?.color ? '#'+menu?.color : menu?.color }" mat-menu-item>
                                                    <mat-icon>{{menu?.icon}}</mat-icon>
                                                    <span>{{menu?.name}}</span>
                                                </button>
                                            </ng-container>
                                          </mat-menu>
                                    </div>
                                </div>
                            </mat-list-item>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </mat-list>
            <a id="back-to-top4" href="#" class="btn btn-light btn-lg back-to-top" role="button">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>
    </div>
</div>
